@{
    Layout = "layout";
}

@using (Html.RegisterStylesheet())
{
    <style type="text/css">
        .translations {
            list-style: none;
        }
    </style>
}


@using (Html.RegisterScript())
{
    <script type="text/javascript">
        alert('Alert 1');
    </script>
}

<div>
    <ul class="translations">
        <li>
           <a href="@Html.TranslationRoot().Path">@Html.TranslationRoot().Name</a>  
        </li>
        @foreach (var page in Html.TranslationRoot().Children)
        {
            if (page.ShowInMenu)
            {
                <li>
                    <a href="@page.Path">@page.Name</a>
                </li>
            }
        }
    </ul>
</div>

<div>
    <ul>
        @foreach (var url in Html.TranslationUrls())
        {
            <li>
                <a href="@url.Value"><span>@url.Key</span></a>
            </li>
        }
    </ul>
</div>
@Html.Render("container")
@using (Html.RegisterScript())
{
    <script type="text/javascript">
        alert('Alert');
    </script>
}
@using (Html.RegisterStylesheet())
{
    <style type="text/css">
        .translations2  {
            list-style: none;
        }
        .translations li {
            background-color: #32cd32;
        }
    </style>
}