@{
    Layout = "layout";
}

<div>
    <ul class="translations">
        <li>
           <a href="@Html.TranslationRoot().Path">@Html.TranslationRoot().Name</a>  
        </li>
        @foreach (var page in Html.TranslationRoot().Children)
        {
            if (page.ShowInMenu)
            {
                <li>
                    <a href="@page.Path">@page.Name</a>
                </li>
            }
        }
    </ul>
</div>

<div>
    <ul>
        @foreach (var url in Html.TranslationUrls())
        {
            <li>
                <a href="@url.Value"><span>@url.Key</span></a>
            </li>
        }
    </ul>
</div>

<img src="@Html.MediaUrl(200, 200, "chair")"/>

@Html.ImageMedia("chair")

@Html.Render("container")
@Html.Survey("test").SurveyStart()
