@using System.Globalization
<!DOCTYPE html>
<html>
<head lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLower()">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    @Html.MetaInformation()
    <title>@Html.Panther().Current.Name</title>

    @Html.StyleSheets()
    @Html.Translations()
</head>
<body>

@Html.Resource("test")
@RenderBody()
@Html.Scripts()
@*@Html.Analytics()*@
</body>
</html>